// Mixins
@mixin button-properties(
  $button-color: $black,
  $button-font-family: Arial,
  $button-font-size: 1em,
  $button-font-color: #fff,
  $button-border-radius: 7px,
  $button-padding: 0.8em 2.8em,
  $button-margin: 1.5em 1em 1em 0em
) {
  background-color: $button-color;

  font-family: $button-font-family;
  font-size: $button-font-size;
  color: $button-font-color;

  border-radius: $button-border-radius;
  padding: $button-padding;
  margin: $button-margin;
}

@mixin hover-text-color($text-color){
    &:hover {
        color: $text-color;
    }
}

@mixin image-content($file) {
  content: url(#{$file}.png);
}