// Example import
// @import 'example-partial';

$padding: 1em;

// Colors
$black: #000;
$text-grey: #acacac;
$light-grey: #ebebeb;
$medium-grey: #c7c7c7;
$dark-grey: #7f7f7f;

// Fonts




h1 {

}

h2 {

}

h3 {

}

p {

}

article {
    img: {

    }
    h3 {

    }
    h4 {
        
    }
    p: {

    }
}

