// Example import
// @import 'example-partial';

// Colors
$black: #000;
$text-grey: #acacac;
$light-grey: #ebebeb;
$medium-grey: #c7c7c7;
$dark-grey: #7f7f7f;

$border-width: 4px;
$border-style: solid;

$page-margin: 1em;


// Fonts
$arial: Arial, sans-serif;
$helvetica: Helvetica, sans-serif;


// Mixins
@mixin button-properties($button-color: $black, $button-font-family: Arial, $button-font-size: 1em, $button-font-color: #fff, $button-border-radius: 7px, $button-padding: .8em 2.8em, $button-margin: 1.5em 1em 1em 0em) {
    background-color: $button-color;

    font-family: $button-font-family;
    font-size: $button-font-size;
    color: $button-font-color;

    border-radius: $button-border-radius;
    padding: $button-padding;
    margin: $button-margin;
}

@mixin photo-content($file) {
    content: url(#{$file}.png);
}

// Elements

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px $border-style $black;
}

.navbar {
    display: flex;
    list-style-type: none;

    padding-left: 0em;

    font-family: $helvetica;
    font-weight: 100;
    color: $dark-grey;
}

.navbar-item {
    font-size: .9em;
    margin: 2em 2.7em 2em 1em; 
}

.hero {
    height: 60vh;
    background-color: $light-grey;
    border-bottom: $border-width $border-style $medium-grey;
    padding: 9em 0em 0em 9em;
}

.articles {

}

.call-to-action {

}

h1 {
    font-family: $arial;
    color: $black;
}

#intro-message {
    font-size: 1.8em;
    margin: 0px;
}

#main-message {
    font-size: 3.5em;
    margin: 0px auto 0px auto;
}

h2 {
    font-family: $arial;

}

h3 {
    font-family: $arial;
}

p {
    font-family: $arial;
}

button {
    @include button-properties;
}

article {
    img: {

    }
    h3 {
        font-family: $helvetica;
    }
    h4 {
        font-family: $helvetica;
    }
    p: {
        font-family: $helvetica;
    }
}

footer {
    display: flex;
    justify-content: space-between;

    margin: 0px 2.7em 2.3em 2.7em;
    border-top: 3px $border-style $black;

    font-family: $helvetica;
    h4 {
        font-size: .75em;
        font-weight: 100;
        em {
            font-weight: 600;
            font-style: normal;
        }
    }


}
