// Example import
// @import 'example-partial';

// Colors
$black: #000;
$text-grey: #acacac;
$light-grey: #ebebeb;
$medium-grey: #c7c7c7;
$dark-grey: #7f7f7f;

$border-width: 4px;
$border-style: solid;

$page-margin: 1em;


// Fonts
$arial: Arial;
$helvetica: Helvetica;


// Mixins
@mixin button-properties($button-color: $black, $button-font-family: Arial, $button-font-size: 1em, $button-font-color: #fff, $button-border-radius: 7px, $button-padding: .8em 2.8em, $button-margin: 1.5em 1em 1em 0em) {
    background-color: $button-color;

    font-family: $button-font-family;
    font-size: $button-font-size;
    color: $button-font-color;

    border-radius: $button-border-radius;
    padding: $button-padding;
    margin: $button-margin;
}

// Elements

header {
    border-bottom: 3px $border-style $black;
}

.navbar {
    display:flex;
}

.hero {
    height: 60vh;
    background-color: $light-grey;
    border-bottom: $border-width $border-style $medium-grey;
    padding: 9em 0em 0em 9em;
}

.articles {

}

.call-to-action {

}

h1 {
    font-family: Arial, sans-serif;
    color: $black;
}

#intro-message {
    font-size: 1.8em;
    margin: 0px;
}

#main-message {
    font-size: 3.5em;
    margin: 0px auto 0px auto;
}

h2 {

}

h3 {

}

p {

}

button {
    @include button-properties;
}

article {
    img: {

    }
    h3 {

    }
    h4 {

    }
    p: {

    }
}

footer {
    display: flex;
    justify-content: space-between;

    margin: 0px 2.7em;
    border-top: 3px $border-style $black;

    font-family: $helvetica;
    h4 {
        font-weight: 100;
        em {
            font-weight: 600;
            font-style: normal;
        }
    }


}
