<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>designory. - Front End Developer - Take Home Test</title>
    <meta name="description" content="designory front end developer take home test">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <img alt="The Designory logo, which simply reads, 'designory' followed by a period and reserved symbol in black text."/>
        <nav>
            <ul class="navbar">
                <li class="navbar-item">PORTFOLIO</li>
                <li class="navbar-item">PROCESS</li>
                <li class="navbar-item">JOURNAL</li>
                <li class="navbar-item">CONTACT INFO</li>
            </ul>     
        </nav>
    </header>

   <main>
       <section class="hero">
           
                <h1 id="intro-message">Well, Hello there</h1>
                <h1 id="main-message">This is where your <br/> message should go. </h1>
                <button>DOWNLOAD NOW</button>
          
       </section>

       <section class="articles">
           <article>
               <img alt="article image">
               <h3>Article 1</h3>
               <h4>date</h4>
               <p>Article description</p>
           </article>
           <article>
               <img alt="article image">
               <h3>Article 1</h3>
               <h4>date</h4>
               <p>Article description</p>
           </article>
           <article>
               <img alt="article image">
               <h3>Article 1</h3>
               <h4>date</h4>
               <p>Article description</p>
           </article>
       </section>
       <section class="call-to-action">
           <img alt="image is currently blank">
           <div>
               <h2>Get the New Razda template</h2>
               <h3>The best new way to showcase your work</h3>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iste aperiam minima tempora tempore magnam placeat error non laboriosam velit praesentium nihil, eveniet sapiente eum. Iusto voluptas sequi cumque impedit.</p>
               <button>DOWNLOAD NOW</button>
           </div>
       </section>
   </main>

   <footer>
       <h4>PHONE: <em>885.827.1938</em></h4>
       <h4>© COPYRIGHT 2013 <em>DESIGNORY.COM</em></h4>
      
   </footer>

    <script src="js/main.js"></script>
</body>
</html>
