<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>designory. - Front End Developer - Take Home Test</title>
    <meta name="description" content="designory front end developer take home test">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <img id="header-designory-logo" alt="The Designory logo, which simply reads, 'designory' followed by a period and reserved symbol in black text.">
        <nav>
            <ul class="navbar">
                <li class="navbar-item"><a href="#">PORTFOLIO</a></li>
                <li class="navbar-item"><a href="#">PROCESS</a></li>
                <li class="navbar-item"><a href="#">JOURNAL</a></li>
                <li class="navbar-item"><a href="#">CONTACT INFO</a></li>
            </ul>     
        </nav>
    </header>

   <main>
       <section class="hero">
                <h1 id="intro-message">Well, Hello there</h1>
                <h1 id="main-message">This is where your <br/> message should go. </h1>
                <button>DOWNLOAD NOW</button>
       </section>

       <section class="articles">
           <article id="article-1">
               <img id="article-1-img">
                <!-- Include alt text, but since it would show up on screen, I left it out. -->
               <h3>Article 1</h3>
               <h4>May 4, 2019</h4>
               <p>Claritas est etiam processus dynamicus, qui
                    sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam littera gothica, quam.</p>
           </article>
           <article id="article-2">
               <img id="article-2-img">
                <!-- Include alt text, but since it would show up on screen, I left it out. -->
               <h3>Article 2</h3>
               <h4>May 8, 2019</h4>
               <p>Claritas est etiam processus dynamicus, qui
                    sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam littera gothica, quam.</p>
           </article>
           <article id="article-3">
               <img id="article-3-img">
                <!-- Include alt text, but since it would show up on screen, I left it out. -->
               <h3>Article 3</h3>
               <h4>May 10, 2019</h4>
               <p>Claritas est etiam processus dynamicus, qui
                    sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam littera gothica, quam.</p>
           </article>
       </section>

       <section class="call-to-action">
           <img id="call-to-action-img">
           <!-- Include alt text, but since it would show up on screen, I left it out. -->
           <div id="call-to-action-text">
               <h2>Get the New Razda template</h2>
               <h3>The best new way to showcase your work</h3>
               <p>Nam liber tempor cum soluta nobis eleifend option
                    congue nihil imperdiet doming id quod mazim placerat
                    facer possim assum. Typi non habent claritatem insitam;
                    est usus legentis in iis qui facit eorum claritatem.
                    Investigationes demonstraverunt lectores legere me
                    lius quod ii legunt saepius. Claritas est etiam processus
                    dynamicus, qui sequitur mutationem consuetudium
                    lectoru</p>
               <button>DOWNLOAD NOW</button>
           </div>
       </section>
   </main>

   <footer>
       <h4>PHONE: <em>885.827.1938</em></h4>
       <h4>© COPYRIGHT 2013 <em>DESIGNORY.COM</em></h4>
      
   </footer>

    <script src="js/main.js"></script>
</body>
</html>
